#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-item {
  margin: 10px 40px 0 5px;
}

ion-button {
  margin: 10px 0px 0 0;
}

ion-input {
  margin: 0px 0 0 0;
}

.consulta-endereco {
  position: absolute;
  left: 20px;
  right: 0;
  top: 53%;
}

.subtitle {
  font-size: large;
  font-weight: bold;
}

.consulta-cep {
  margin-left: 20px;
}